// Color palette
$blue-100: #f0f4fc;
$blue-200: #ebf0fa;
$blue-300: #d7e2f6;
$blue-400: #244c98;
$blue-500: #1f4284;

$grey-100: #727272;
$grey-200: #323232;

$white: #ffffff;
$black: #000000;

$primary: $blue-400;
$text-primary: $grey-200;
$text-secondary: $grey-100;

// Breakpoints
$screen-xl: 1920px;
$screen-lg: 1440px;
$screen-m: 1280px;
$screen-s: 768px;
$screen-xs: 375px;
