@import "variables";

.button {
  border-width: 0;
  border-radius: 4px;
  padding: 16px;
  font-size: 15px;
  font-weight: 500;
  line-height: 24px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-out;

  @media screen and (min-width: $screen-m) {
    padding: 18px;
    font-size: 18px;
    line-height: 29px;
  }
}

.primary-button {
  @extend .button;

  background-color: $primary;
  color: $white;

  &:hover {
    background-color: $blue-500;
  }
}

.secondary-button {
  @extend .button;

  border: 1px solid $primary;
  color: $primary;

  &:hover {
    border-color: $blue-500;
    color: $blue-500;
  }
}

.link-button {
  font-size: 20px;
  font-weight: 500;
  line-height: 27px;
  text-align: left;
  color: $primary;
  background: none;
  border: none;
  cursor: pointer;

  &:hover {
    color: $blue-500;
  }
}

.text-field {
  padding: 24px;
  background-color: $blue-300;
  border-radius: 10px;
  color: $blue-500;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  border-width: 0;

  &::placeholder {
    color: $blue-500;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
  }
}

.checkbox {
  width: 18px;
  height: 18px;
  margin: 4px;
  border: 2px solid $grey-200;
  cursor: pointer;
}

.label {
  font-size: 18px;
  line-height: 24px;
  cursor: pointer;
}

.form-error {
  color: $error;
  font-size: 13px;
  line-height: 18px;
}
